
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,300i,700,700i&display=swap');

@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');
* {
    padding:0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: #f5f6f6;
}


#top {
    width: 100%;
    height: 205px;
    margin: 0 auto;
    background-color:#dcdabe;
}

    #top .right {
        margin: 0 auto;
        width: 1380px;
        height: 15px;
        padding-top:8px;
    }

        #top .right ul {
            float: right;
            width: 260px;
            height: 15px;
            text-align: center;
        }

        #top .right li {
            float: left;
            padding-left: 20px;
        }


            #top .right li:nth-child(1) a {
                color: #fff;
                font-family: 'Lato';
                font-weight: 100;
                font-size: 13px;
                line-height:15px;
            }

            #top .right li:nth-child(2) a {
                color: #fff;
                font-family: 'Lato';
                font-weight: 100;
                font-size: 13px;
                line-height:15px;
            }

            #top .right li a img[src$=png] {
            padding-top:4px;
            }

    #top .logo {
        width: 1380px;
        height: 76px;
        text-align: center;
        margin: 0 auto;
        margin-top:30px;
    }

        #top .logo img[src$=png] {
            display: inline-block;
        }

    #top #nav {
        width: 100%;
        height: 60px;
        margin: 0 auto;
        border-top: 1px solid rgba(255, 255, 255, 0.55);
        text-align: center;
        margin-top:22px;
    }

        #top #nav ul {
            display: inline-block;
        }

        #top #nav li {
            float: left;
            margin: 0 100px;
            line-height: 60px;
        }

            #top #nav li a {
                color: rgba(255, 255, 255, 0.90);
                font-family: 'Lato';
                font-size: 15px;
                font-weight: 800;
            }


#menu {
    width: 620px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:30px;
    margin-top:50px;
}

    #menu li {
        width:150px;
        float: left;
        font-size: 15px;
        font-family: 'Noto Sans CJK KR';
        color: #5f5e5e;
        float: left;
    }

        #menu li:nth-child(2n) {
        width:85px;
        }

        #menu li a {
            font-size: 16px;
            font-family: 'Noto Sans CJK KR';
            color: #adadad;
            font-weight: 300;
            width: 50px;
            text-align: center;
        }

#perform {
position:absolute;
top:35%;
left:22%;
}


#pure {
position:absolute;
top:35%;
left:22%;
}

#do {
position:absolute;
top:35%;
left:22%;
}


footer {
    width: 1380px;
    height: 300px;
    margin: 0 auto;
    border-top: 1px solid #c5d0e2;
    margin-top: 1300px;
    text-align: center;
    padding-top: 80px;
}

    footer p {
        font-size: 12px;
        font-weight: 200;
        font-family: 'Noto Sans CJK KR';
        color: #515a5f;
    }
